@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

:root {
  --primary: #ff7b54;
  --primary-focus: #ec5e33;
  --brown: #ffb26b;
  --yellow: #ffd56b;
  --green: #939b62;
}

.App {
  font-family: 'Barlow Condensed', sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, var(--yellow) 0%, var(--brown) 100%);
}

h1, h2, h3 {
  font-family: 'Alegreya Sans SC', sans-serif;
}

@media only screen and (max-width: 574px){
  h3 {
    font-size: 1.25rem;
  }
}

li::marker {
  color: var(--primary-focus);
}

.tulos-enter {
  opacity: 0.01;
}

.tulos-enter.tulos-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.tulos-leave {
  opacity: 1;
}

.tulos-leave.tulos-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.tuloslaatikko {
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(230, 200, 146);
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-color: var( --primary);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 24%)
}

.matka1 {
  margin-right: 1em;
}

.matka2 {
  margin-left: 1em;
}

.tulos {
  margin-top: 20px;
  margin-bottom: 20px;
}

input {
  border-color: var(--primary);
  background-color: rgba(96, 167, 151, 0);
}

input:focus-visible {
  outline: 1px solid var(--primary);
}


[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio] + .icon {
  cursor: pointer;
  opacity: 0.3;
}

[type=radio]:checked + .icon {
  opacity: 1;
}

.inputContainer {
  align-items: baseline;
}




/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

